body {
    margin: 0px;
    background-color: hsl(56, 100%, 87%);
    color: hsl(0, 0%, 11%);
    font-family: "Rethink Sans", sans-serif;

    /* font-family: Arial, Helvetica, sans-serif; */
}

img {
    max-width: 100%;
}

.logo {
    max-width: 200px;
}

.main-header {
    background-color: hsl(58, 43%, 83%);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.navigation {
    display: flex;
    flex-flow: row wrap;
}

.navigation a {
    text-decoration: none;
    color: hsl(0, 0%, 11%);
    padding: 15px;

}
.navigation a:hover {
    color: hsl(0, 0%, 60%);
    background-color: hsl(138, 40%, 90%);
}

.nav-button {
    align-self: center;
    font-size: 24px;
    padding: 5px;
    min-width: 32px;
    background-color: transparent;
    border-color: transparent;
    display: none;
}

.nav-button:focus {
    background-color: #202020;
    color: white;
}

.banner {
    background-image: url("../images/omgshoes.jpeg");
    background-position: center;
    background-size: cover;
    min-height: 50vh;
    display: grid;
    place-items: center;
}

.banner h1 {
    color: hsla(0, 0%, 11%, 100%);
    background-color: hsla(0, 0%, 11%), 100%;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 2em auto;
    gap: 20px;
}
.card-image {
    aspect-ratio: 3/4;
    object-fit: cover;
    object-position: center;
}
.card {
    border: 1px solid #b4b4b4;

}
.card-content {
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.card-button {
    background-color: black;
    color: white;
    display: block;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    max-width: 100px;
    align-self: center;
    max-width: 100%;
}
.main-footer {
    background-color: hsl(0, 0%, 11%);
    padding: 1em;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-footer a{
    color: hsl(56, 100%, 75%);
    text-decoration: none;
}

.main-footer a:hover {
    color:white;
}

.social-nav{
    font-size: 1.5em;
    }

.contact-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        margin: 2em auto;
        gap: 20px;
}